html 
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style 
            include css/style.css
        style
            include css/form.css
        style 
            include css/editForm.css
    body 
        div.containEmailForm
            div.centerIt
                div.backgroundForEmail
                    each text in errorTexts 
                        p #{text}
                    a.addOptionButton(style="text-decoration:none;",href="/formMaker") Login
        include includes/footer.pug