html 
    head 
        title Form Maker Login
        style 
            include css/login.css
    body
        div#makeNewFormModal.modals.hide
            div.loginContainer
                div.header
                    h2 Make New Form
                    i.fas.fa-window-close(onclick="showOrHideNewFormModal()")
                div.inputs
                    input(type="text" placeholder="Form Name" id="newFormName")
                button.submitLog(onclick="makeNewForm()") Create

        div#loginModal.modals
            div.loginContainer
                div.header
                    h1 Login
                div.inputs
                    input(type="text" placeholder="Email" id="email")
                    input(type="password" placeholder="Password" id="password")
                div.switch 
                    span Don't have an account?&nbsp;
                    span.switchSpan(onclick="changeBetweenLoginAndSignUp('signUpModal')") Sign Up
                    div(style="margin-top: 10px")
                        span Forgot Password?&nbsp;
                        span.switchSpan(onclick="changeBetweenLoginAndSignUp('changePasswordModal')") Change Password
                div.errorBox
                div.goodNews
                button.submitLog(onclick="login()") Login

        div#signUpModal.modals(style="display: none")
            div.loginContainer
                div.header
                    h1 Sign up
                div.inputs
                    input(type="text" placeholder="Email" id="newEmail")
                    div.passwordContainer.hide
                        input(type="password" placeholder="Password" id="newPassword")
                        input(type="password" placeholder="Confirm Password" id="newPasswordConfirm")
                    div.codeContainer.hide
                        input(type="text" placeholder="Enter code from email" id="newCode")
                div.switch 
                    span Have an account?&nbsp;
                    span.switchSpan(onclick="changeBetweenLoginAndSignUp('loginModal')") Log in
                    div(style="margin-top: 10px")
                        span Forgot Password?&nbsp;
                        span.switchSpan(onclick="changeBetweenLoginAndSignUp('changePasswordModal')") Change Password
                div.errorBox
                div.goodNews
                button.submitLog(onclick="sendCodeToEmail(this)") Send Verification Code

        div#changePasswordModal.modals(style="display: none")
            div.loginContainer
                div.header
                    h1 Reset Password
                div.inputs
                    input(type="text" placeholder="Email" id="resetEmail")
                div.switch 
                    span Have an account?&nbsp;
                    span.switchSpan(onclick="changeBetweenLoginAndSignUp('loginModal')") Log in
                    div(style="margin-top: 10px")
                        span Don't have an account?&nbsp;
                        span.switchSpan(onclick="changeBetweenLoginAndSignUp('signUpModal')") Sign Up
                div.errorBox
                div.goodNews
                button.submitLog(onclick="resetPassword(this)") Reset Password


        main(style="display:none")
            div#userInfo
                div.header
                    h1 All of your forms
                    i.fas.fa-plus-square(onclick="showOrHideNewFormModal()")      
                div#cards      
    script
        include js/login.js
    script(src="https://kit.fontawesome.com/9c2fbbf0d7.js")
