html 
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style 
            include css/style.css
        style
            include css/form.css
    body 
        main
            div.containEmailForm
                div.centerIt
                    div.backgroundForEmail
                        p Please put your email, so we can verify you are human and also generate you a form link.
                        div#isSuccess
                        input#email(type="email")
                        input(type="submit" id="submitForm")
                        p
        
        script
            include js/index.js