html 
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        style 
            include css/style.css
        style
            include css/form.css
    body 
        main
            div.containEmailForm
                div.centerIt
                    div.backgroundForEmail
                        p A verification code has been sent to your email address. Please enter the code below to verify the right person is accessing this form.
                        div#isSuccess
                        input#code(type="text" placeholder="Enter Code" name="code" required="required")
                        input(type="submit" id="submitForm",style="color:white !important;")
                        p
        
        script
            include js/verifyFormAccess.js 
