.dividePage {
    display: flex;
    height: 100%;
}

.dividePage #applyFilters, .dividePage .separateCont {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
    color: black;
    padding: 20px;
    background-color: #292929;
    position: relative;
}

.dividePage .separateCont .downloadOptions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dividePage .separateCont .downloadOptions .downloadButton {
    background-color: #45a049;
    color: white;
    padding: 5px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.dividePage #applyFilters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #292929;
    justify-content: space-around;
}

.dividePage #applyFilters .filterInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
}

.dividePage #applyFilters .filterInput:focus {
    outline: none;
}

.filterInputOptions {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
}

.filterInputOptions:focus {
    outline: none;
}

.clearButton {
    background-color: #e74c3c;
    color: white;
    padding: 5px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    display: none;
}

.containFilter {
    background-color:#f5f5f5;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 5px;
    width: 40%;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
}

.containFilter .filterName {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.containFilter:hover {
    z-index: 100;
}

.searchForText {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.searchForText:focus {
    outline: none;
}

.filterItems {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
    border: 0px;
}

.filterItems .filterItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 5px 8px;
    border: 1px solid rgba(0,0,0, .2);
    border-top: 0px;
    transition: ease-in-out 0.2s;
    cursor: pointer;
    user-select: none;
}

.filterItems  input[type="radio"] {
    margin: 10px 10px 10px 0px;
    transform: scale(1.5);

}

.filterItems .filterItem:first-child {
    border-top: 1px solid rgba(0,0,0, .2);
}

.filterItems .filterItem:hover {
    background-color: #e0dfdf;
}

.openMoreOptions {
    background-color: #45a049;
    color: white;
}

.formQuestion{
    background-color: #f5f5f5;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 5px;
}

.formQuestion:hover {
    z-index: 100;
}

.specificSearch .text {
    width: 100%;
    border: none;
    border-radius: 5px;
    color: black;
    margin: 10px 0px;
}

.specificSearch input:focus {
    outline: none;
}

.specificSearch input {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.specificSearch {
    padding: 10px;
}

.fa-check {
    color: #45a049;
    font-size: 16px;
    margin-left: 10px;
}

.fa-times {
    color: #e74c3c;
    font-size: 16px;
    margin-left: 10px;
}

/** Card results css **/
#results .card {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    background-color:#f5f5f5;
    color: black;
}

a {
    text-decoration: none;
}

#results .card img {
    width: auto;
    height: 200px;
    margin-right: 10px;
}

#results .card h2 {
    width: 60%;
    font-size: 1.5em;
    margin-bottom: 5px;
}

#results .card p {
    width: 60%;
    font-size: 1em;
    line-height: 1.5;
}

.question {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: hidden;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 768px) {
    #results .card {
        flex-direction: column;
    }
    #results .card img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    #results .card h2, .card p {
        width: 100%;
    }
}

/* Add the following to the parent container of the scrollable element*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* The scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 4px;
}

/* The scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: whitesmoke;
}

/* The scrollbar buttons */
::-webkit-scrollbar-button {
    display: none;
}

/* The scrollbar tracks */
::-webkit-scrollbar-track {
    background-color: transparent;
}

th {
    color: black;
}