.dividePage {
    display: flex;
    height: 100%;
}

.dividePage #applyFilters, .dividePage #results {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    color: white;
    padding: 20px;
}

.dividePage #applyFilters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}

.dividePage #applyFilters .filterInput {
    padding: 10px;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
}

.dividePage #applyFilters .filterInput:focus {
    outline: none;
}

.containFilter {
    background-color:rgb(75, 74, 77);
    padding: 5px 10px;
    margin: 15px;
    border-radius: 5px;
    width: 40%;
    color: #ffffffbf;
}


/** Card results css **/
#results .card {
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    background-color:#ededed;
}

#results .card img {
    width: 25%;
    height: auto;
    margin-right: 10px;
}

#results .card h2 {
    width: 60%;
    font-size: 1.5em;
    margin-bottom: 5px;
}

#results .card p {
    width: 60%;
    font-size: 1em;
    line-height: 1.5;
}

@media (max-width: 768px) {
    #results .card {
        flex-direction: column;
    }
    #results .card img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    #results .card h2, .card p {
        width: 100%;
    }
}

