
*{
    box-sizing: border-box !important;
}

.containEmailForm {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    color: white;
    font-size: 20px;
    height: 100%;
}

.containEmailForm .centerIt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.containEmailForm .centerIt .backgroundForEmail #isSuccess{
    width: 100%;
    margin-bottom: 10px;
}

.containEmailForm .centerIt .backgroundForEmail {
    background-color: rgb(75, 74, 77);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 2px 8px rgb(0 0 0);
}

body {
    margin: 0px;
    background-color:#000000d6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}